<form [formGroup]="vehicleForm">
  <div class="vehicle-form">
    <mat-form-field appearance="legacy" class="vehicles__form-field">
      <mat-label>Vehicle</mat-label>
      <mat-select data-testid="vehicle-type" formControlName="type">
        <mat-option>---</mat-option>
        <mat-option
          *ngFor="let vehicleType of vehicleTypes"
          [value]="vehicleType.label"
        >
          <app-option-with-image
            [errorImg]="vehicleTypeImages['other']"
            [label]="vehicleType.label"
            [img]="vehicleType.img"
          ></app-option-with-image>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="legacy" class="vehicles__form-field">
      <mat-label>Brand</mat-label>
      <mat-select data-testid="vehicle-brand" formControlName="id">
        <mat-option>---</mat-option>
        <mat-option *ngFor="let vehicle of brands" [value]="vehicle.id">
          <app-option-with-image
            [errorImg]="vehicleTypeImages[vehicle.type]"
            [label]="vehicle.brand"
            [img]="vehicle.img"
          ></app-option-with-image>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="legacy" class="vehicles__form-field">
      <mat-label>Color</mat-label>
      <mat-select data-testid="vehicle-color" formControlName="color">
        <mat-option>---</mat-option>
        <mat-option *ngFor="let color of colors" [value]="color">
          {{ color }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
